/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ffc700;
  --f7-theme-color-rgb: 255, 199, 0;
  --f7-theme-color-shade: #d6a700;
  --f7-theme-color-tint: #ffd029;
}

/* Your app custom styles here */

.invisible {
  display: none;
}

#reflection-edit {
  float: right;
  margin: 0px;
}

#reflection-save {
  float: right;
  margin: 0px;
}

#reflected {
  color: #4d4d4d
}

.button i {
  color: rgb(36, 36, 36);
}